<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel= "stylesheet" type="text/css" href= "{% static 'style.css' %}">
</head>
<body>
    <h1>{{ text }}</h1>
    {% include 'fourth_task/menu.html' %}
    <ul>
        <h3><li>Головоломка №1      <button>Купить</button></li></h3>
        <h3><li>Головоломка №2      <button>Купить</button></li></h3>
        <h3><li>Головоломка №3      <button>Купить</button></li></h3>
    </ul>
</body>
</html>
